<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Acking's info-list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="info-system">
    <meta name="author" content="acking">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Acking's system</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="info_list.html">Info-list</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">

        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class="active">Info-list</li>
          </ul>
          <h2><a href="#">这是一个信息系统首页1</a></h2>
          <p>
            <i class="icon-user"></i>acking
            <i class="icon-time"></i>2012-08-13
            <i class="icon-eye-close"></i>300次
            <i class="icon-comment"></i>30条
            <i class="icon-tags"></i>icon,icon-tags
          </p>

           <p>这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1</p>
          <p><a class="btn" href="info_detail.html">查看详细 &raquo;</a></p>
          <h2>这是一个信息系统首页1</h2>
          <p>
            <i class="icon-user"></i>acking
            <i class="icon-time"></i>2012-08-13
            <i class="icon-eye-close"></i>300次
            <i class="icon-comment"></i>30条
            <i class="icon-tags"></i>icon,icon-tags
          </p>
           <p>这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1</p>
          <p><a class="btn" href="info_detail.html">查看详细 &raquo;</a></p>

          <h2>这是一个信息系统首页1</h2>
          <p>
            <i class="icon-user"></i>acking
            <i class="icon-time"></i>2012-08-13
            <i class="icon-eye-close"></i>300次
            <i class="icon-comment"></i>30条
            <i class="icon-tags"></i>icon,icon-tags
          </p>
           <p>这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1这是一个信息系统首页1</p>
          <p><a class="btn" href="info_detail.html">查看详细 &raquo;</a></p>

        </div>

        <div class="span4">
          <h2>标签</h2>
          <ul class="tag">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
       </div>

        <div class="span12">
          <div class="pagination">
            <ul>
              <li class="disabled"><a href="#">«上一页</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">下一页»</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
  </body>
</html>